<header>
  {{link-to "Menu" ""}}
</header>

{{outlet}}

<nav>
  {{link-to "Mi Ubicación" ""}}<br>
  {{link-to "Estados" ""}}<br>
  {{link-to "Preferencias" ""}}<br>
  {{link-to "Ayuda" ""}}<br>
</nav>
