<header>
  <div id="left">
    <div id="menu" {{action "toggleDrawer"}}>Menu</div>
  </div>

  <div id="right">
    {{#link-to "civil"}}
      <img src="img/pcivil.png" alt="protección civil" class="menu_icon" {{action "shrinkDrawer"}}>
    {{/link-to}}
  </div>

  <div style="clear: both;"></div>
</header>

{{outlet}}

<nav id="drawer" {{bind-attr class="drawerVisible:expand:shrink"}}>
  {{#nav-link label="P. Civil" route="civil" action="toggleDrawer"}}
    <img src="img/pcivil.png" alt="protección civil" class="menu_icon">
  {{/nav-link}}
  {{nav-link label="Preferencias" route="preferences" action="toggleDrawer"}}
  {{nav-link label="Ayuda" route="help" action="toggleDrawer"}}
</nav>
