<header>
  <div id="left">
    <div id="menu" {{action "toggleDrawer"}}>Menu</div>
  </div>

  <div id="right">
    {{#link-to "messages"}}
      <img src="img/pcivil.png" alt="protección civil" class="menu_icon" {{action "shrinkDrawer"}}>
    {{/link-to}}
  </div>

  <div style="clear: both;"></div>
</header>

<div id="app_outlet" class="container">
  {{outlet}}
</div>

<nav id="drawer" {{bind-attr class="drawerVisible:expand:shrink"}}>
  {{nav-link label="Alertas" route="alerts"}}
  {{nav-link label="Atlas" route="atlas"}}

  {{#nav-link label="Mensajes" route="messages"}}
    <img src="img/pcivil.png" alt="protección civil" class="menu_icon">
  {{/nav-link}}

  {{nav-link label="Preferencias" route="preferences"}}
  {{nav-link label="Ayuda" route="help"}}
</nav>
