<div class="row cape_updated">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6">
    hace 1 semana
  </div>
  <div class="col-xs-2">
    {{entry.updated}}
  </div>
  <div class="col-xs-1">
  </div>
</div>

<div class="row cape_title">
  <div class="col-xs-12">
    <span class="cape_source">{{foo.source}}:</span>
    {{entry.title}}
  </div>
</div>

<div class="row cape_description">
  <div class="col-xs-10">
    {{entry.area.description}}
  </div>
</div>

<div class="row cape_actions">
  <div class="col-xs-9">
  </div>

  <div class="col-xs-1">
    {{#link-to "map"}}
      <img src="img/map_location.png" alt="map location icon" class="cape_action_icon">
    {{/link-to}}
  </div>

  <div class="col-xs-1">
    <img src="img/share.png" alt="share icon" class="cape_action_icon" {{action "shareCAPEntry"}}>
  </div>

  <div class="col-xs-1">
  </div>
</div>

<hr>
